@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #F9F9F9;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

form{
    display: contents;
}

.header{
    height: 8%;
    background-color: #D94141;
    color: white;
    font-size: x-small;
    display: flex;
    padding: 0px 0px 0px 4em;
    align-items: center;
}

.desktop{
    display: flex;
    height: 90%;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 2em 0px 2em;
}
.mobile{
    display: none;
}

.espaco{
    width: 50%;
}

#espacoUm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#divisaoUm_espacoUm{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#divisaoUm_espacoDois{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#divisaoDois_espacoUm{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}

.divisaoInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: -webkit-fill-available;
}

.entrada{
    background: #FFFFFF;
    box-shadow: -3px -3px 9px #FFFFFF, 4px 3px 9px -1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    height: 35%;
}

.label_entradas{
    height: 20%;
}
#botaoConfirmar{
    width: 125%;
}

.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20em;
    margin-top: 4em;
}

#limpar{
    text-decoration: none;
    color: #D94141;
    font-weight: 800;
}

#limparMobile{
    text-decoration: none;
    color: #D94141;
    font-weight: 800;
}


.carrinho{
    height: 27em;
    align-items: flex-start;

    background-color: #D94141;
    overflow: auto;
    color: white;
    width: 34em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    font-size: smaller;
    margin-top: 1em;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.retanguloUM{
    width: 26em;
    height: 8px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    background: rgba(217, 65, 65, 0.68);
}

.retanguloDOIS{
    width: 23em;
    height: 8px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    background: rgba(217, 65, 65, 0.23);
}

.tabela-carrinho{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.trTabela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
}

th{
    width: 7em;
}
.thTitulo{
    font-weight: 700;
    z-index: 1;
}
.thDescricao{
    font-weight: 200;
    z-index: 1;
}

.trDescricao{
    background-color: #F06363;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    width: 14em;
    padding: 1.5em 2em;
    margin-left: -8em;
}
.marginTop{
    margin-top: 1em;
}

.botaoRemover{
    background: #D94141;
    box-shadow: -3px -3px 9px #F06363, 4px 3px 9px -1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    height: 100%;
    width: 50%;
    padding: 0.7em 1em;
}

#espacoDois{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;

}

.divisao_espacoDois{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 9px 0em;
}

.label_saidas{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.h1_valorFinal{
    font-size: xxx-large;
    font-weight: 300;
}
#ValorFinal{
    font-weight: 800;
}
#ValorFinalMobile{
    font-weight: 800;
}
#inputValorPago{
    padding: 1em 2em;
    text-align: center;
    font-weight: 600;
}






@media (max-width:769px){
    .header {
        height: 10%;
    }
    .desktop {
        position: absolute;
        display: flex;
        background-color: #F9F9F9;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 90%;
    }
    .carrinho {
        width: auto;
        height: 20em;
        display: flex;
        align-items: flex-start;
    }
    .retanguloDOIS {
        width: 15em;
    }
    .retanguloUM{
        width: 16em;
    }
    .cabecalho{
        gap: 10em;
    }
    .trTabela {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0em;
    }
    .entrada {
        background: #FFFFFF;
        box-shadow: -3px -3px 9px #ffffff, 4px 3px 9px -1px rgb(0 0 0 / 25%);
        border-radius: 7px;
        border: none;
        height: 3em;
        width: 100px;
    }
    .label_entradas {
        height: 2em;
        font-size: x-small;
    }
    #divisaoUm_espacoUm {
        height: 85%;
        margin-top: 3em;
    }
    #divisaoDois_espacoUm {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        background: white;
    }
    #espacoUm {
        display: contents;
    }
    .divisaoInputs {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: -webkit-fill-available;
    }
    #espacoDois {
        display: flex;
        flex-direction: row;
        gap: 4em;
        position: absolute;
        width: initial;
        padding: initial;
        align-items: center;
        justify-content: center;
    }
    .label_saidas {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        font-size: small;
    }
    .h1_valorFinal {
        font-size: xx-large;
        font-weight: 300;
    }
    .divisao_espacoDois {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        margin: 9px 0em;
    }
    .espacoDois_h2{
        font-size: medium;
    }
    #valortroco{
        position: absolute;
        display: flex;
        align-items: flex-end;
        margin-top: 6em;
        margin-left: auto;
    }
    #inputValorPago {
        text-align: center;
        font-weight: 600;
        padding: inherit;
    }
    #div_valorpago{
        display: flex;
        align-items: flex-end;
    }
}


/* 

@media (max-width: 769px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        height: 92%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    .header{
        font-size: x-small;
    }
    .footer{
        display: flex;
        flex-direction: row;
        gap: 10px;
        background: #F9F9F9;
        box-shadow: 0px 6px 39px rgb(0 0 0 / 12%);
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1em 0em;
        z-index: 5;
    }
    .label_entradas {
        font-size: xx-small;
        height: 1.5em;
    }
    .entrada {
        background: #FFFFFF;
        box-shadow: -3px -3px 9px #ffffff, 4px 3px 9px -1px rgb(0 0 0 / 25%);
        border-radius: 7px;
        border: none;
        height: 2.6em;
        width: 9em;
    }
    .divisaoInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    .main {
        width: -webkit-fill-available;
        height: 90%;
        background-color: #F9F9F9;
        padding: 2em;
    }
    #botaoConfirmar {
        width: 100%;
    }
    #botaoConfirmarMobile {
        width: 100%;
    }
    .divisaoUm_main{
        width: 100%;
        height: 7em;
    }
    .divisaoDois_main{
        width: 100%;
    }
    .divisaoUm_main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1.1em;
    }
    .h1_valorFinal{
        font-size: xx-large;
        font-weight: 300;
    }
    #inputValorPago {
        padding: 0.5em 1.5em;
        text-align: end;
        font-weight: 600;
        box-shadow: none;
        background: #FFFFFF;
        box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.07);
    }
    #resultadoFinal{
        font-size: medium;
    }
    .divisao_espacoDois {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin: 9px 0em;
        gap: 0.5em;
    }
    .cabecalho {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10em;
        margin-top: 4em;
    }
    .carrinho {
        width: auto;
        height: 13em;
        display: flex;
        align-items: flex-start;
    }
    .retanguloUM {
        width: 18em;
    }
    .retanguloDOIS {
        width: 17em;
    }
    .trDescricao {
        background-color: #F06363;
        border-radius: 10px;
        position: absolute;
        z-index: 0;
        width: 13em;
        padding: 1.5em 2em;
        margin-left: -6em;
    }
    .tabela{
        /* margin-top: 6em; */
    /* }

    .trTabela{
        gap: 0.5em;
    } */

